---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SearchBar from '../components/SearchBar.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout 
title="Portfolio de Catriel Gatto - Desarrollador y Programador Web"
description="Contrata a Catriel Gatto para desarrollo de programas, páginas web o todo tipo de aplicaciones">
	<main>
		<SectionContainer>
			<SearchBar></SearchBar>
		<SectionContainer/>
	</main>

</Layout>
