{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <title>Buscar Invocador</title>
    {% tailwind_css %}
</head>
<body class="flex flex-col min-h-[100vh] bg-[#2B2D42] font-Mukta">
    <!-- HEADER -->
    <header class="flex justify-center items-center pt-12 w-full xl:w-[1120px] mx-auto">

        <nav class="flex flex-row gap-x-10 opacity-90">
            <a href="#top" class="text-[#F0F0F0] hover:text-[#b4b4b4] transition-colors">Inicio</a>
            <a href="#sobre-nosotros" class="text-[#F0F0F0] hover:text-[#b4b4b4] transition-colors">Sobre nosotros</a>
        </nav>
    </header>

    <!-- SEARCH BARS -->

    <div class="flex justify-center items-center mt-56">
        <form method="post" action="{% url 'buscar_invocador' %}" class="relative max-w-md mx-auto p-4">
            {% csrf_token %}
            <div class="relative">
                <input type="text" name="nombre" id="nombre" class="block w-full h-12 p-2 ps-8 text-sm placeholder:opacity-70 focus:placeholder:text-transparent text-gray-900/80 border border-gray-300 rounded-3xl bg-gray-50" placeholder="Nombre de invocador" required />
                <input type="text" name="tag_line" id="tag_line" class="block w-full h-12 mt-5 p-2 ps-8 text-sm placeholder:opacity-70 focus:placeholder:text-transparent text-gray-900/80 border border-gray-300 rounded-3xl bg-gray-50" placeholder="# Tag" required />
            </div>
            
            <button type="submit" class="mt-5 w-full h-12 text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-white font-medium rounded-3xl text-sm px-5 py-2.5 flex items-center justify-center">
                Buscar
                <svg class="size-4 ml-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </button>
        </form>
    </div>

    <!-- FOOTER -->

    <footer class=" text-white rounded-lg shadow m-4 mt-40 p-6 md:p-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="flex flex-col items-center sm:flex-row sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                </a>
            </div>
            <hr class="my-6 border-white opacity-50 lg:my-8" />
            <span class="block text-sm text-white opacity-50 text-center">Funcionalidades desarrolladas por Leonardo Carabajal y Catriel Gatto, 2024</span>
        </div>
    </footer>
    

</body>
</html>
