<!DOCTYPE html>
<html>
<head>
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultados</h1>
    {% if summoner_data %}
        <h2>Datos del Invocador</h2>
        <p>Nombre: {{ nombre }}</p>
        <p>Tag: {{ tag_line }}</p>
        <p>Nivel: {{ summoner_data.summonerLevel }}</p>
        <p>Ícono: <img src="https://ddragon.leagueoflegends.com/cdn/14.14.1/img/profileicon/{{ summoner_data.profileIconId }}.png" alt="Ícono del perfil">
        </p>
    {% endif %}
    {% if match_history %}
        <h2>Estadísticas de las últimas 30 partidas</h2>
        <p>Winrate: % {{ match_history.win_rate }}</p>
        <p>Porcentaje de victorias según lado del mapa (rojo/azul): {{ match_history.win_rate_by_map_side }}</p>
        <p>Cantidad de tiempo jugado: {{ match_history.total_time_played }}</p>
        <p>KDA: {{ match_history.get_kda }}</p>
    {% endif %}
    {% if error %}
        <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html>
