---
import '@fontsource/mukta/400.css';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;;
	}
	html {
		font-family: 'Mukta', system-ui, sans-serif; 
		scroll-behavior: smooth;
	}
	body {
		background: #2B2D42;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
