<footer class="rounded-lg shadow m-4 pt-24">
    <div class="w-full max-w-screen-xl mx-auto p-72 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            </a>
        </div>
        <hr class="my-6 sm:mx-auto dark:border-white opacity-60 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Funcionalidades desarrolladas por Leonardo Carabajal y Catriel Gatto, 2024</span>
    </div>
</footer>

