<header class="flex justify-center items-center pt-8 w-full xl:w-[1120px] mx-auto text-sm">

    <nav class="flex flex-row gap-x-16 text-white opacity-80">
        <a href="#top" class="hover:text-gray-300/80">Inicio</a>
        <a href="#aboutUs" class="hover:text-gray-300/80">Sobre nosotros</a>
    </nav>
</header>