<form class="max-w-md my-auto mt-80 mx-auto justify-items p-4">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <input type="search" id="default-search" class="block w-full p-2 ps-8 text-sm text-gray-900/80 border border-gray-300 rounded-3xl bg-gray-50" placeholder="Nombre de invocador + # Tag" required />
        <button class="absolute inset-y-0 end-5 flex items-center ps-3">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:transition-colors hover:text-gray-800/80" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </button>
    </div>
</form>
